@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Your choices:</p>
<p>Age: @Program.MyQuery.Class</p>
<p>Sex: @Model.Message </p>
<p>Guardian's occupation: @Program.MyQuery.Occupation</p>


