@page
@model Comparison1Model
@{
    ViewData["Title"] = "Male-Female Ratio";
 }

<head>
    <style>
        td {
            padding: 5px;
        }
        .slidecontainer {
            width: 100%;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

            .slider:hover {
                opacity: 1;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #4CAF50;
                cursor: pointer;
            }

            .slider::-moz-range-thumb {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #4CAF50;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <p>Union-Ward = @Model.UW</p>
    <form method="POST">
    <h4>Male-Female Ratio vs. Teacher-Student Ratio</h4>
    <table>
        <tr>
            <td><p>Male-Female Ratio</p></td>
            <td>
                <p><input type="range" min="-4" max="4" value="0" class="slider" id="MF_TS" asp-for="@Model.MFTS"></p>
            </td>
            <td>
                <p>Teacher-Student Ratio</p>
            </td>
        </tr>
    </table>
    <p>Comparison: <span id="demo1"></span></p>
    <h4>Male-Female Ratio vs. Average Age of Students</h4>
    <table>
        <tr>
            <td><p>Male-Female Ratio</p></td>
            <td>
                <p><input type="range" min="-4" max="4" value="0" class="slider" id="MF_AA"  asp-for="@Model.MFAA"></p>
            </td>
            <td>
                <p>Average Age of Students</p>
            </td>
        </tr>
    </table>
    <p>Comparison: <span id="demo2"></span></p>
    <h4>Male-Female Ratio vs. Location</h4>
    <table>
        <tr>
            <td><p>Male-Female Ratio</p></td>
            <td>
                <p><input type="range" min="-4" max="4" value="0" class="slider" id="MF_LA"  asp-for="@Model.MFLA"></p>
            </td>
            <td>
                <p>Location</p>
            </td>
        </tr>
    </table>
    <p>Comparison: <span id="demo3"></span></p>
    <h4>Male-Female Ratio vs. Age of School</h4>
    <table>
        <tr>
            <td><p>Male-Female Ratio</p></td>
            <td>
                <p><input type="range" min="-4" max="4" value="0" class="slider" id="MF_SA"  asp-for="@Model.MFSA"></p>
            </td>
            <td>
                <p>Age of School</p>
            </td>
        </tr>
    </table>
    <p>Comparison: <span id="demo4"></span></p>
    
    <h4>Male-Female Ratio vs. Socio-Economic Status</h4>
    <table>
        <tr>
            <td><p>Male-Female Ratio</p></td>
            <td>
                <p><input type="range" min="-4" max="4" value="0" class="slider" id="MF_SE"  asp-for="@Model.MFSE"></p>
            </td>
            <td>
                <p>Socio-Economic Status</p>
            </td>
        </tr>
    </table>
    <p>Comparison: <span id="demo6"></span></p>
    
    <input type="submit" value="Next" />
    </form>
    <script>
        var MF_TS = document.getElementById("MF_TS");
        var MF_AA = document.getElementById("MF_AA");
        var MF_LA = document.getElementById("MF_LA");
        var MF_SA = document.getElementById("MF_SA");
        var MF_SE = document.getElementById("MF_SE");
        
        var Comp = [
                "Weakly more important", // (1 2 3)
                "Fairly more important", // (3 4 5)
                "Strongly more important", // (4 5 6)
                "Absolutely more important" // (7 7 7)
            ];

        MF_TS.oninput = function() {
            var v = parseInt(this.value);
            var x = "Male-Female Ratio";
            var y = "Teacher-Student Ratio";
            var output = document.getElementById("demo1");
            if (v == 0) output.innerHTML = "Both are equally important";
            else if (v > 0) output.innerHTML = y + " is <b>" + Comp[v - 1] + "</b> compared to " + x;
            else output.innerHTML = x + " is <b>" + Comp[- v - 1] + "</b> compared to " + y;
        }
        MF_AA.oninput = function() {
            var v = parseInt(this.value);
            var x = "Male-Female Ratio";
            var y = "Average Age of Students";
            var output = document.getElementById("demo2");
            if (v == 0) output.innerHTML = "Both are equally important";
            else if (v > 0) output.innerHTML = y + " is <b>" + Comp[v - 1] + "</b> compared to " + x;
            else output.innerHTML = x + " is <b>" + Comp[- v - 1] + "</b> compared to " + y;
        }
        MF_LA.oninput = function() {
            var v = parseInt(this.value);
            var x = "Male-Female Ratio";
            var y = "Location of School";
            var output = document.getElementById("demo3");
            if (v == 0) output.innerHTML = "Both are equally important";
            else if (v > 0) output.innerHTML = y + " is <b>" + Comp[v - 1] + "</b> compared to " + x;
            else output.innerHTML = x + " is <b>" + Comp[- v - 1] + "</b> compared to " + y;
        }
        MF_SA.oninput = function() {
            var v = parseInt(this.value);
            var x = "Male-Female Ratio";
            var y = "Age of School";
            var output = document.getElementById("demo4");
            if (v == 0) output.innerHTML = "Both are equally important";
            else if (v > 0) output.innerHTML = y + " is <b>" + Comp[v - 1] + "</b> compared to " + x;
            else output.innerHTML = x + " is <b>" + Comp[- v - 1] + "</b> compared to " + y;
        }
        
        MF_SE.oninput = function() {
            var v = parseInt(this.value);
            var x = "Male-Female Ratio";
            var y = "Socio-Economic Status";
            var output = document.getElementById("demo6");
            if (v == 0) output.innerHTML = "Both are equally important";
            else if (v > 0) output.innerHTML = y + " is <b>" + Comp[v - 1] + "</b> compared to " + x;
            else output.innerHTML = x + " is <b>" + Comp[- v - 1] + "</b> compared to " + y;
        }
        
    </script>
</body>
