@page
@model IndexModel
@{
    ViewData["Title"] = "Find a school for your child!";
}

<html>
<head>
    <script src="~/js/site.js"></script>
    <script src="~/js/LocationDB.js"></script>

</head>
<body>
    <h3>Welcome to "কোন স্কুল?"</h3>
    <h4>"কোন স্কুল?" is an app designed to help you find the most suitable schools for your child or dependant!</h4>
    <div>
        <p>Please enter the details of your child/dependant and yourself:</p>
        <br />
        <form method="post">
            <div class="form-group">
                <div class="input-group-prepend">
                    <div class="col-md-3">
                        <label for="classInput">Class</label>
                    </div>
                    <div class="col-md-3">
                        <select id="classInput" class="form-control" asp-for="Class" asp-items="Model.Classes"></select>
                        <span asp-validation-for="Class"></span>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="input-group-prepend">
                    <div class="col-md-3">
                        <label for="ageInput">Age</label>
                    </div>
                    <div class="col-md-3">
                        <input id="ageInput" class="form-control" asp-for="Age" placeholder="Student's age" />
                        <span asp-validation-for="Age"></span>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="input-group-prepend">
                    <div class="col-md-3">
                        <label>Guardian's Occupation</label>
                    </div>
                    <div class="col-md-3">
                        <select id="occupationInput" class="form-control" asp-for="Occupation" asp-items="Model.Occupations"></select>
                        <span asp-validation-for="Occupation"></span>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="input-group-prepend">
                    <div class="col-md-3">
                        <label class="col-form-label">Student Gender</label>
                    </div>
                    <div class="col-md-3">
                        <input asp-for="Sex" type="radio" value="1" checked="checked" /> Male
                        <input asp-for="Sex" type="radio" value="2" /> Female
                    </div>
                </div>
            </div>
            <br />
            <br />

            <div class="form-group">
                <fieldset>
                    <legend>Address</legend>
                    <div class="input-group-prepend">
                        <div class="col-md-3">
                            <label class="col-form-label">Division</label>
                        </div>
                        <div class="col-md-3">
                            <select
                                id="division"
                                class="form-control"
                                asp-for="Division"
                                onchange="DivDistChange()"
                            >
                                <option value="empty">Select a division</option>
                                <option value="BARISAL">BARISAL</option>
                                <option value="CHITTAGONG">CHITTAGONG</option>
                                <option value="DHAKA">DHAKA</option>
                                <option value="MYMENSINGH">MYMENSINGH</option>
                                <option value="KHULNA">KHULNA</option>
                                <option value="RAJSHAHI">RAJSHAHI</option>
                                <option value="RANGPUR">RANGPUR</option>
                                <option value="SYLHET">SYLHET</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="input-group-prepend">
                        <div class="col-md-3">
                            <label class="col-form-label">District</label>
                        </div>
                        <div class="col-md-3">
                            <select
                                id="district"
                                class="form-control"
                                asp-for="@Model.District"
                                onchange="DistThanaChange()"
                            >
                            </select>
                            <span asp-validation-for="District"></span>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="input-group-prepend">
                        <div class="col-md-3">
                            <label class="col-form-label">Thana</label>
                        </div>
                        <div class="col-md-3">
                            <select
                                id="thana"
                                class="form-control"
                                asp-for="@Model.Thana"
                                onchange="ThanaUWChange()"
                            >
                            </select>
                            <span asp-validation-for="Thana"></span>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="input-group-prepend">
                        <div class="col-md-3">
                            <label class="col-form-label">Union/Ward</label>
                        </div>
                        <div class="col-md-3">
                            <select id="uw" class="form-control" asp-for="@Model.UW"></select>
                            <span asp-validation-for="UW"></span>
                        </div>
                    </div>
                </fieldset>
                <br />
                <fieldset>
                    <legend>Area restriction</legend>
                    <div>
                        @Html.CheckBoxFor(m => m.ByDiv) Show schools of this division only
                    </div>
                    <br />
                    <div>
                        @Html.CheckBoxFor(m => m.ByDist) Show schools of this district only
                    </div>
                    <br />
                </fieldset>
                <input class="btn btn-primary" type="submit" value="Next" />
            </div>
        </form>
    </div>
</body>
</html>
