@page
@model KonSchool.Pages.InputsModel
@{
    ViewData["Title"] = "Inputs";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/Comparison.css">
</head>
<body>
    <h2>Inputs</h2>

    <h4>Levels of comparison: weakly >> moderately >> highly >> strongly >> absolutely</h4>
    
    <form method="POST">
        @for (int i = 0; i < 5; i++)
        {
            var value = Model.Values[i];
            var criteria1 = InputsModel.Criteria[i];
            var criteria2 = InputsModel.Criteria[i + 1];
            var slider_id = "sl" + i;
            var span_id = "demo" + i;
            <h4>@criteria1 vs. @criteria2</h4>
            <table>
                <tr>
                    <td>@criteria1</td>
                    <td>
                        <input
                            type="range"
                            min="-9"
                            max="9"
                            value="0"
                            class="slider"
                            asp-for="@Model.Values[i]"
                            id=@slider_id
                            oninput='UpdateComparison(
                                @('"' + slider_id + '"'),
                                @('"' + span_id + '"'),
                                @('"' + criteria1 + '"'),
                                @('"' + criteria2 + '"'))'
                            )
                        >
                    </td>
                    <td>@criteria2</td>
                </tr>
            </table>
            <p>Comparison: <span id=@span_id>Both are equally important.</span></p>

        }

        <input class="btn btn-primary" type="submit" value="View Result" />
    </form>
    <script>
        var Comp = [
            "weakly", "more than weakly",
            "moderately", "more than moderately",
            "highly", "more than highly",
            "strongly", "more than strongly",
            "absolutely"
        ];

        var UpdateComparison = function (slider, id, x, y) {
            var v = parseInt(document.getElementById(slider).value);
            var output = document.getElementById(id);
            if (v == 0) output.innerHTML = "Both are equally important.";
            else if (v > 0) output.innerHTML = y + " is <b>" + Comp[v - 1] + "</b> more important compared to " + x;
            else output.innerHTML = x + " is <b>" + Comp[- v - 1] + "</b> more important compared to " + y;
        }
    </script>
</body>
</html>