@page
@model KonSchool.Pages.OutputsModel
@{
    ViewData["Title"] = "Outputs";
}
@using KonSchool.Models

<html>
<head>
    <link rel="stylesheet" href="~/css/Comparison.css">
</head>
<body>
    <h1>Outputs</h1>
    <h3>Weights</h3>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center">Criteria</th>
                @for (int i = 0; i < 6; i++)
                {
                    <th>
                        @Model.Criteria[i]
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Weights</b></td>
                @for (int i = 0; i < 6; i++)
                {
                    <td style="text-align: center">
                        @Model.ToShortNumber(@Model._Query.Weights[i])
                    </td>
                }
            </tr>
        </tbody>
    </table>

    <p>
        <h4>Standard Deviation: @Model.StdDev</h4>
    </p>
    <br>
    <h3>Schools</h3>
    <h4>Number of eligible schools: @Model._Query.Alternatives.Count</h4>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Mobile Number</th>
                <th>Compatibility</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model._Query.Alternatives)
            {
                <tr>
                    <td>@s.Name</td>
                    <td>@s.StreetAddr, @s.Union_Ward, @s.Thana, @s.District</td>
                    <td>@s.MobileNum</td>
                    <td style="text-align: right;">@Model.ToShortNumber(@s.FinalScore)</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>